/*Global Styles*/

*, *::after, *:before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.75;
    color: #645f5f;
}

p {
    margin: 1.5em;
}

video {
    width: 100%;
}

.wrapper  {
    width: 75%;
    margin: 2.5% auto 0;
}


/*Video container and controls*/

#video-container {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.video-controls {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 10px 15px 0;
    background: transparent;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#video-container:hover .video-controls { /*Show controls on hover*/
    opacity: 1;
    transform: translate(0,-65px);
        -webkit-transform: translate(0,-65px);
        -o-transform: translate(0,-65px); 
        -moz-transform: translate(0,-65px);
} 

    /*Progress Bars*/
    
    progress[value] { /*had to do a reset on this element for FF to work properly*/
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 3px;
        border: none;
        background-color: rgba(231, 230, 230, 0.3);
    }
    
    #seek-bar,
    #buffered-bar {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 97%;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
    }
    
    #seek-bar {
        z-index: 1;
    }

    #video-container:hover #seek-bar,
    #video-container:hover #buffered-bar {
        transform: translate(0,-35px);
            -webkit-transform: translate(0,-35px);
            -o-transform: translate(0,-35px); 
            -moz-transform: translate(0,-35px);
    }
    
    #seek-bar::-webkit-progress-bar,
    #buffered-bar::-webkit-progress-bar {
        background-color: rgba(231, 230, 230, 0.3);
    }
    
    #seek-bar::-webkit-progress-value {
        background-color: orange;
    }
    
    #buffered-bar::-webkit-progress-value {
        background-color: rgba(255, 255, 255, .5);
    }
    
    #buffered-bar::-moz-progress-bar {
        background-color: rgba(255, 255, 255, .5);
        height: 3px;
    }
    
    #seek-bar::-moz-progress-bar {
        background-color: orange;
        height: 3px;
    }

    /*Buttons & Controls*/
    button {
        background: transparent;
        border: none;
    }
    
    #play-pause,
    #current-time,
    #slash,
    #duration,
    #rewind-10 {
        float: left;
    }

    #current-time,
    #slash,
    #duration {
        color: white;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
        line-height: 2;
    }

    #current-time {
        padding-left: 15px;
    }
    
    #slash {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    #duration {
        padding-right: 10px;
    }
    
    #rewind-10 {
        line-height: 2;
    }
    
    #mute,
    #closed-caption {
        float: right;
        padding-right: 15px;
    }
    
    #full-screen {
        float: right;
    }
    
    #volume,
    #volume-up,
    #volume-down {
        float: right;
        font-weight: bold;
        display: inline-block;
        color: white; 
    }
    
    #volume-up,
    #volume-down {
        font-size: 1.5em;
        line-height: 1;
        padding-right: 10px;
    }
    
    #volume {
        line-height: 2.1;
        font-size: 0.9em;
    }
    
    #volume-up {
        padding-left: 10px;
    }
    
    video::cue { /*subtitle styling, will not validate but pseudo-elements are allowed by instructions*/
        font-family: 'Open Sans', sans-serif;
        font-size: .6em;
        line-height: 1.2;
    }
    
    /*Colors for transcript highlights*/
    .active-cue { 
        color: #ed8004;
        transition: all .6s ease-in-out;
    }
    
    .inactive-cue {
        color: #645f5f;
        transition: all .6s ease-in-out;
    }

    /*Different hover colors for selecting transcript text to click*/
    #text-transcript span {
        cursor: pointer;
        transition: all .6s ease-in-out;
    }
    
    #text-transcript span:hover {
        color: #5cb8d1;
    }



/*TO DO

X  Embed the video using HTML.

X  Check that the video works in at least 3 modern browsers.

X  Add the transcript below the video (as shown in the mockup file). Use the captions.txt file for the text. Add appropriate <p> tags around the text.

X  Style the page using the mockups as guides.
    
X  Use Javascript or CSS to hide and show the video player button on mouse hover states.
    X  -Only the progress bar should remain.
X Hover over span sentences highlight

A creative and thoughtful responsive design.

X  Refactor and DRY out CSS

Make sure X-browser compatible (post-github upload)
*/

